@font-face {
  font-family: 'Roboto Slab';
  src: url('font/RobotoSlab-Regular-webfont.eot');
  src: url('font/RobotoSlab-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	 		 url('font/RobotoSlab-Regular-webfont.svg#roboto_slabregular') format('svg'),
       url('font/RobotoSlab-Regular-webfont.woff') format('woff'),
       url('font/RobotoSlab-Regular-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('font/RobotoSlab-Light-webfont.eot');
  src: url('font/RobotoSlab-Light-webfont.eot?#iefix') format('embedded-opentype'),
  		 url('font/RobotoSlab-Light-webfont.svg#roboto_slablight') format('svg'),
       url('font/RobotoSlab-Light-webfont.woff') format('woff'),
       url('font/RobotoSlab-Light-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('font/RobotoSlab-Bold-webfont.eot');
  src: url('font/RobotoSlab-Bold-webfont.eot?#iefix') format('embedded-opentype'),
	 		 url('font/RobotoSlab-Bold-webfont.svg#roboto_slabbold') format('svg'),
       url('font/RobotoSlab-Bold-webfont.woff') format('woff'),
       url('font/RobotoSlab-Bold-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Bankir-Retro';
  src: url('font/bankir-retro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


head,body{
	padding:0px;
	margin: 0px;
	min-height: 100%;
	width:100%;
	font-family: 'Ubuntu';
	font-weight: 400;
}

ul {
	list-style: none;
	padding: 0px;
}

.w960 {
	width: 1028px;
	margin: 0px auto;
	position: relative;
}

.head-menu {
	height: 38px;
	padding: 6px 0px;
	background: #008bb9;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 33;
}

.head-menu ul{
	margin-top: -16px;
	list-style:none;
	padding: 0px;
}

.head-menu li{
	float: left;
	color: #fff;
	font-size: 16px;
	margin-right: 0px;
	padding: 8px 50px 8px 44px;
	border: 1px solid #008bb9;
	cursor: pointer;
}

.head-menu a{
	text-decoration: none;
	color: #fff;
}


.head-menu li:hover{
	background: #33a2c7;
	border: 1px solid #66b9d5;
}

.head{
	padding-top: 15px;
	height: 80px;
	height: 100px;
}

.logo {
	width: 81px;
	height: 86px;
	float: left;
	background: url('images/logo.png') no-repeat;
}

.logo-text {
	float:left;
	font-weight: bold;
	color: #008bb9;
	font-size: 31px;
	margin-top: 28px;
	margin-left: 16px;
}

.logo-text .little{
	font-size: 10px;
	font-weight: normal;
}

.phone{
	margin-top: 34px;
	float: right;
	font-size: 24;
	font-weight: 700;
}

.call-me-button{
	margin-top:27px;
	float:right;
	font-size:18px;
	margin-right:18px;
	background: url('images/call-me-button.png') no-repeat;
	height: 43px;
	width: 254px;
	border: 0px;
	outline: none;
	color: #fff;
	cursor: pointer;
}

.call-me-button:hover {
	background-position: 0px -43px;
}

.call-me-button:active {
	background-position: 0px -86px;
	outline: none;
	padding-top: 3px;
}

.main{
	height:655px;
	background: url('images/main.jpg') no-repeat;
	background-position: center;
}

.main-text-block, .logo-block{
	float: left;
	margin-left: 10px;
}

.main #main_title{
	color: #25383e;
	font-weight: 500;
	font-style: italic;
	font-size: 26px;
	padding-top: 40px;
	line-height: 30px;
	height: 110px;
}

.main .pros{
	color: #4c4c4c;
	list-style: none;
	padding: 0px;
}

.main .pros .pro{
	padding-left: 25px;
	background: url('images/list-line.png') no-repeat;
	background-position: 0px 14px;
	padding-top: 5px;
	margin-top: 4px;
	font-size: 17px;
}

.leadform {
	background: #1e1e1f;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	width: 331px;
	height: 343px;
	float: right;
	margin-top: 20px;
	margin-right: 40px;
	padding: 6px;
	color: #fff;
}

.leadform .tittle {
	width: 330px;
	text-align: center;
	margin-top:7px;
	line-height: 25px;
	font-weight: 300;
	font-size: 18px;
	margin-bottom: 30px;
}

.leadform input {
	width: 320px;
	margin: 0px auto;
	margin-bottom: 15px;
	display:block;
	height: 38px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border: 0px;
	padding-left:10px;
}

.leadform_submit_button {
	margin: 0px auto !important;
	margin-top: 45px !important;
	width: 320px !important;
	display:block;
	background-image: url('images/leadform-button.png');
	height: 56px !important;
	cursor: pointer;
	border:0px;
	color: #000;
	font-weight: 500;
	font-size: 18px;
	background-color: #1e1e1f;
	padding-top: 6px;
	border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
}

.leadform_submit_button:focus {
	outline: none;
}

.leadform_submit_button:hover{
	background-position: 0px 112px;
}
.leadform_submit_button:active{
	background-position: 0px 56px;
	outline: none;
	padding-top: 7px;
}

.lead1{
	background-color: #1e1e1f;
	height: 100px;
}

.lead1 .button1 {
	margin-left: 95px;
	margin-top: 16px;
	float: left;
	width: 360px;
	height: 67px;
	background: url('images/lead1-button.png') no-repeat;
	outline: none;
	border: 0px;
	cursor: pointer;
}

.lead1 .button1:hover {
	background-position: 0px -67px;
}

.lead1 .button1:active {
	background-position: 0px -134px;
	outline: none;
}

.lead1 .button2 {
	margin-left: 50px;
	margin-top: 16px;
	float: left;
	width: 360px;
	height: 66px;
	background: url('images/lead1-button2.png') no-repeat;
	outline: none;
	border: 0px;
	cursor: pointer;
}

.lead1 .button2:hover {
	background-position: 0px -66px;
}

.lead1 .button2:active {
	background-position: 0px -132px;
	outline: none;
}

.leadtitle{
	padding-top: 14px;
	padding-bottom: 14px;
	font-weight: 700;
	font-size: 18px;
}

.lead1 .w960{
	padding-left:10px;
}

.form input {
	height: 36px;
	padding:8px;
	width: 216px;
	margin-right: 20px;
}

@media (min-resolution: .001dpcm) {
    _:-o-prefocus, input[name=email1]   { width: 202px; height: 16px; } 
}

::-webkit-input-placeholder { /* WebKit browsers */
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
    color: #e4e4e4;
	font-size: 18px;
	line-height: 14px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
    color: #e4e4e4;
	font-size: 18px;
	line-height: 14px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
    color: #e4e4e4;
	font-size: 18px;
	line-height: 14px;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
    color: #e4e4e4;
	font-size: 18px;
	line-height: 14px;
}

.line {
	height: 120px;
}

.doing-block{
	width: 312px;
	margin-left: 10px;
	float: left;
	position: relative;
	font-weight: 300;
	font-size:18px;
}

.doing-block .icons{
	background: url('images/icons.png') no-repeat;
	width: 91px;
	height: 89px;
	float: left;
	margin-right: 8px;
	margin-top: 7px;
	margin-bottom: 10px;
}

.about{
	height: 190px;
}

.about .doing-block {
	font-weight:300;
	font-size: 16px;
	line-height: 20px;
}

.counter-title{
	font-size: 30px;
	font-weight: 500;
	margin-top: 20px;
	margin-bottom: 12px;
}

.projects{
	height: 550px;
}

.projects .title{
	margin-top: 20px;
}

.project{
	margin-top: 10px;
	width: 286px;
	margin-right: 4px;
	float: left;
	padding: 15px;
	font-size: 14px;
	line-height: 24px;
	background-color: #fcfcfc;
	background: url('images/projects.png') no-repeat;
	background-position: top;
	padding-bottom: 25px;
}

.project-title{
	height: 35px;
	width: 303px;
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 12px;
	padding-top: 60px;
	margin-left: -10px;
	text-align: center;
}

.cross-line{
	background: url('images/cross-line.png') repeat-x;
	margin-top: 45px;
	height:3px;
	width:100%;
	position: absolute;
}

.project-todo-list{
	list-style: none;
	padding: 0px;
	font-size: 16px;
}

.project-todo-list li{
	background: url('images/list-line.png') no-repeat;
	background-position: 0px 12px;
	background-size: 16px 2px;
	-webkit-background-size: 16px 2px;
	-o-background-size: 16px 2px;
	-moz-background-size: 16px 2px;
	padding-left: 21px;
}

.moar {
	margin-left: 21px;
	text-decoration: underline;
	font-weight: bold;
	font-size: 14px;
	color: #008bb9;
	cursor: pointer;
}

.long-button{
	font-size:16px;
	font-weight: 700;
	background: url('images/long-button.png') no-repeat;
	height: 35px;
	width: 484px;
	margin: 0px auto;
	margin-top:34px;
	border: 0px;
	outline: none;
	color: #fff;
	cursor: pointer;
	display:block;
}

.long-button:hover {
	background-position: 0px -35px;
}

.long-button:active {
	background-position: 0px -70px;
	outline: none;
	padding-top: 3px;
}

.guarantee {
	height: 470px;
	background: url('images/letters-bg.png');
}

.guarantee .title {
	background: none;
	color: #000;
}

.guarantee .leadform {
	margin-top: -290px;
}

.gua-row {
	float:left;
	color: #000;
	font-size: 16px;
	margin-bottom: 10px;
}

.left-gua, .right-gua {float: left; padding-left:40px; width: 440px;}

.left-gua {
	font-weight: bold;
}

.first-gua div{
	background: url('images/blue-line.png') no-repeat;
	background-position: 17px 9px;
}

.second-gua div{
	background: url('images/yellow-line.png') no-repeat;
	background-position: 17px 9px;
}

.third-gua div{
	background: url('images/green-line.png') no-repeat;
	background-position: 17px 9px;
}

.guar {
	background: url('images/marker-guar.png') no-repeat;
	background-position: 18px 0px;
	padding-left: 54px;
	padding-top: 2px;
	font-size: 19px;
	font-weight: 500;
	width: 580px;
	margin-bottom: 20px;
	float: left;
}

.guar .subguar {
	font-size: 16px;
	font-weight: 400;
	font-height: 18px;
}

.how-works{
	height: 636px;
}

.how-works-bg {
	background: url('images/how-works-2.png') no-repeat;
	background-position: 40px 0px;
	margin-top: 35px;
	height:484px;
	width:100%;
	position: absolute;
}

.how-works .submit_button{
	background-image: url(button2.png);
	background-color: #fafafa;
}

#popup_button1{
	margin: 0px auto;
	display:block;
}

.bignum {
	float: left;
	font-size: 46px;
	font-weight: 400;
	margin-right: 8px;
	margin-top: 2px;
	color: #bbbbbb;
}

.how-works .doing-block {
	width: 150px;
	margin-left: 12px;
	margin-right: 35px;
	font-size: 18px;
	font-weight: 400;
	vertical-align:middle;
    display: table-cell;
	height: 120px;
	float: none;
	position: relative;
}

.how-works .line {
	margin-left: 5px;
	height: 120px;
	margin-top: 130px;
	text-align: center;
	display: table;
	width: 990px;
}

.how-works .little-line {	
    width: 660px !important;
    padding-right: 25px !important;
}

.little-line {
	margin: 0px auto !important;
	margin-top: 80px !important;
}

.little-line .doing-block {
	width: 150px;
}

.thanks-letters{
	background: url('images/letters-bg.png');
	height:475px;
}

.thanks-letters .title {
	background: none;
	color: #000;
}

.row {
	float:left;
	margin-bottom: 50px;
}

.letter {
	width: 460px;
	float: left;
	margin-right: 20px;
	font-size: 16px;
}

.letter .letter-title {
	float:left;
	font-weight: bold;
	width: 350px;
	margin-bottom: 10px;
	margin-top: -3px;
}

.letter .letter-text {
	font-style: italic;
	float: left;
	width: 350px;
}

.letter .image {
	background: url('images/letter.png') no-repeat;
	width: 82px;
	height: 120px;
	float:left;
	margin-right: 15px;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
}

.team{
	height: 900px;
}

.team small {
	line-height: 17px;
	font-size: 14px;
	font-weight: 500;
}

.team .team-image{
	width:180px;
	height:180px;
	border: 5px solid #f0c500;
	border-radius: 95px;
	background: url('images/faces.jpg') no-repeat;
	float: left;
}

.team .right .team-image{
	float: right;
}

.team .horizontal-row .team-text{
	padding: 0px 15px;
	margin-top:15px;
	font-size: 16px;
}

.team .horizontal-row .team-text b {
	margin-bottom:5px;
	display: block;
}

.team .horizontal-row .team-text li {
	margin-bottom: 12px;
}

.team-horiz-element{
	width: 520px;
	margin-top: 25px;
}

.team .left{ 
	float: left;
	width: 500px;
}

.team .right{ 
	float: right;
}

.team .right .team-text{ 
	text-align: right;
}

.team-column{
	margin: 0px 99px;
	margin-top: 10px;
	width: 210px;
	float: left;
	font-size: 16px;
	text-align: center;
}

.team-column .team-image{
	margin-bottom: 16px;
	margin-left: 10px;
}

.team-column li{
	margin-bottom: 8px;
}

.questions {
	height: 145px;
	padding-top: 50px;
}

.big-button {
	width: 971px;
	height: 162px;
	margin: 0px auto;
	display: block;
	background: url('images/big-button.png') no-repeat;
	border: 0px;
	outline: none;
}

.big-button:hover{
	background-position: 0px -162px;
}

.big-button:active{
	background-position: 0px -324px;
	outline: none;
}

.footer{
	height: 120px;
	background: url('images/wtf-footer-bg.png') no-repeat;
	background-position: 680px 42px;
}

.title{
	font-weight: 300;
	font-style: italic;
	font-size: 30px;
	padding-top:25px;
	text-align:center;
	margin: 0px auto;
	margin-bottom:28px;
	color: #747474;
	background: #fff;
}

.popup{
	display:none;
	z-index:99999;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	text-align: center;
}

.popup:after {
	display: inline-block;
	height: 100%;
	width: 0;
	vertical-align: middle;
	content: '';
}

.closer{
	background-color:rgba(0,0,0,0.8);
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
}

.closer img{
	height:43px;
	top:50%;
	margin-top:-280px;
	display: inline-block;
    position: relative;
    vertical-align: middle;
}
	
.popup .block{
	z-index:999999;
	color:#000;
	margin-top:-80px;
	width:399px;
	height:370px;
	display: inline-block;
    position: relative;
    background: url('images/popup-bg.png') no-repeat;
    vertical-align: middle;
}

.popup input {
	width: 300px;
	margin: 0px auto;
	margin-bottom: 13px;
	display:block;
	height: 38px;
}

#in-popup-button{
	margin: 0px auto !important;
	margin-top: 12px;
	width: 300px !important;
	display:block;
	background-image: url('images/popup-button.png');
	height: 42px !important;
	cursor: pointer;
	border:0px;
	color: #000;
	font-weight: 500;
	font-size: 18px;
	background-color: #1e1e1f;
	padding-top: 6px;
}

#in-popup-button:focus {
	outline: none;
}

#in-popup-button:hover{
	background-position: 0px 84px;
}
#in-popup-button:active{
	background-position: 0px 42px;
	outline: none;
	padding-top: 7px;
}


.popup .popup-title {
	font-size: 30px;
	margin-bottom: 24px;
	font-weight: 500;
	color: #fff;
	margin-top: 30px;
	line-height: 32px;
}

#popup2 .title {
	margin-top: 90px;
}




/* SLIDER */

.works {
	height: 474px;
}

#slider-wrap{ /* Оболочка слайдера и кнопок */
  width:1028px;
}
#slider{ /* Оболочка слайдера */
  width:1008px;
  height:370px;
  overflow: hidden;
  position:relative;
}
.slide { /* Слайд */
  width:100%;
  height:100%;
  padding-left: 80px;
}
.slide-title {
	font-size:18px;
	font-weight:700;
	margin-bottom:28px;
	margin-top: 10px;
}

.slide-stat-title {
	font-size: 18px;
}
.slide-stat {
	margin-top:8px;
	font-size: 16px;
	padding-left:30px;
	background: url('images/stat-icons.png') no-repeat;
	height:22px;
	padding-top:2px;
}

.slide-stat.clients {
	background-position: 0px -23px;
}

.slide-stat.money {
	background-position: 0px 0px;
}

.slide-letter {
	width: 607px;
	margin-top: 10px;
	font-size: 16px;
	line-height:20px;
}
.slide-letter-author {
	margin-top: 30px;
}

.slide-case {
	position:absolute;
	top:5px;
	right: 170px;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}
/*
.sli-links { 
  margin-top:10px;
  text-align:center;
}
.sli-links .control-slide{
  margin:2px;
  display:inline-block;
  width:16px;
  height:16px;
  overflow:hidden;
  background:url('images/radioBg.png') center bottom no-repeat;
}
.sli-links .control-slide:hover{
  cursor:pointer;
  background-position:center center;
}
.sli-links .control-slide.active{
  background-position:center top;
}
*/
#prewbutton, #nextbutton{ /* Ссылка "Следующий" и "Педыдущий" */
  display:block;
  width:56px;
  height:47px;
  position:absolute;
  top: 145px;
  overflow:hidden;
  text-indent:-999px;
  background:url('images/arrowBg.png') left bottom no-repeat;
  opacity:1;
  z-index:3;
  outline:none !important;
}	
#prewbutton:hover {
	background:url('images/arrowBg.png') right bottom no-repeat;}
}
#prewbutton{left:10px;}
#nextbutton{
  right:10px;
  background:url('images/arrowBg.png') left top no-repeat;
}
#nextbutton:hover {
	background:url('images/arrowBg.png') right top no-repeat;}
}
/* //SLIDER */